<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Productos</title>
    <!-- <link rel="stylesheet" href="./css/productDetail.css"> -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('./partials/header') %>

    <main id="products-main">

        <h1>Lista de productos:</h1>

        <div id="Agregar-Producto">
            <a href="/products/create">Agregar un Producto</a>
        </div>
       
        <section>
            <% for (i=0; i < products.length; i++){ %>
        
                <% if (products[i].categoria=="Monitores" ){ %>
                    <article>
                        <div class="stock-detail-products">

                            <% if (products[i].stock == true){ %>
                                <h2 id="stock-true">EN STOCK</h2>
                            <% } else { %>                        
                                <h2 id="stock-false">SIN STOCK</h2>
                            <% } %>   
                                                   
                        </div>

                        <a href="/products/<%= products[i].id %>">
                            <img src="<%= products[i].imagenes %>" alt="">
                            <h2>
                                <%= products[i].nombre %>
                            </h2>
                        </a>
                    </article>
                    <% } %>
        
            <% } %>
        </section>

    </main>






    <%- include('./partials/footer') %>

    <%- include('./partials/wsp') %>
</body>
</html>