<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <!-- <link rel="stylesheet" href="./css/productDetail.css"> -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body id="body-crear-producto">
    
    <%- include('./partials/header') %>

    <main id="main-crear-producto">
        <h1>Editar producto</h1>

        <form action="/products/edit?_method=PUT" method="POST" id="form-edit-product">
            <div>
                <label for="">Producto:</label>
                <input type="text" name="nombreProducto" id="" placeholder="Ingresa el nombre del Producto" value='<%= producto.nombre %>' required>
            </div>
            <div>
                <label for="">Precio:</label>
                <input type="number" name="precio" id="" placeholder="Ingresa el precio del Producto" value="<%= producto.precio %>" required>
            </div>
        
            <div>
                <label for="">Categoría:</label>
                <select name="tipoProducto" id="" required>
                    <option value="Monitores" <% if (producto.categoria === 'Monitores') { %>selected<% } %>>Monitores</option>
                    <option value="Placas de Video" <% if (producto.categoria === 'Placas de Video') { %>selected<% } %>>Placas de Video</option>
                    <option value="Procesadores" <% if (producto.categoria === 'Procesadores') { %>selected<% } %>>Procesadores</option>
                    <option value="Almacenamiento" <% if (producto.categoria === 'Almacenamiento') { %>selected<% } %>>Almacenamiento</option>
                </select>
            </div>
            <div class="pc-radio">
                <label for="si-stock">
                    <input type="radio" name="stock" id="si-stock" value="true" <% if (producto.stock === true) { %>checked<% } %> required>En Stock
                </label>
                <label for="no-stock">
                    <input type="radio" name="stock" id="no-stock" value="false" <% if (producto.stock === false) { %>checked<% } %>>Sin Stock
                </label>
            </div>
            <div>
                <label for="">Descripción del producto:</label>
                <textarea name="descripcion" id="" cols="30" rows="10" placeholder="Escribe aquí..." required><%= producto.descripcion %></textarea>
            </div>
            <div>
                <label for="">Imagen:</label>
                <input type="text" name="image" id="" placeholder="Ingresa la url de la imagen..." value='<%= producto.imagenes %>' required>
            </div>
            
            <div id="pc-syr">                
                <button type="submit">Actualizar</button>
            </div>
        </form>
    </main>


    <%- include('./partials/footer') %>

    <%- include('./partials/wsp') %>
</body>
</html>