<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Detalle del producto</title>
        <!-- <link rel="stylesheet" href="./css/productDetail.css"> -->
        <link rel="stylesheet" href="/css/styles.css">
</head>

<body id="product-detail">
    <%- include('./partials/header') %>

        <main id="product-detail">
            <section class="seccion-imagenes">
                <br>
                <br>
                <br>
                <img id="producto-imagen-1" src="<%= producto.imagenes %>" alt="Foto frontal del monitor">

                <div class="selector-imagenes">
                    <i id="circulos-fotos" class="fa-solid fa-circle"></i>
                    <i id="circulos-fotos" class="fa-regular fa-circle"></i>
                    <i id="circulos-fotos" class="fa-regular fa-circle"></i>
                </div>

                <h2 id="nombre-producto"><%= producto.nombre %> </h2>
               
            </section>



            <section class="seccion-producto">

                <section class="seccion-pagos">

                    <h3 id="seleccion-titulo">Selecciona tu método de pago:</h3>

                    <section class="metodos-pago">

                        <div class="pago1">
                            <h3 id="debito">Pagá con debito o transferencia</h3>

                            <i id="circulos-pago" class="fa-solid fa-circle"></i>
                        </div>

                        <div class="pago2">
                            <h3 id="mercadopago">Pagá con MercadoPago</h3>

                            <i id="circulos-pago" class="fa-regular fa-circle"></i>
                        </div>

                        <div class="pago3">
                            <h3 id="tarjeta">Pagá con tarjeta</h3>

                            <i id="circulos-pago" class="fa-regular fa-circle"></i>
                        </div>
                    </section>

                </section>


                <section class="seccion-compra">

                    <div class="precios">
                        <h4>Precio Especial!</h4>
                        <h3 id="descuento"><%= (producto.precio * 0.75).toFixed(2) %></h3>                    
                        
                        <h3 id="precio-original"><%= producto.precio %></h3>
                    </div>

                   
                    <div class="contenedor-comprar">
                        <div class="comprar">
                            <a href="#">Comprar</a>
                        </div>
                    </div>

                    <div class="stock-detail">

                        <% if (producto.stock == true){ %>
                            <h2 id="stock-true">EN STOCK</h2>
                        <% } else { %>                        
                            <h2 id="stock-false">SIN STOCK</h2>
                        <% } %>   
                                               
                    </div>

                    <h4 id="envio-gratis">Envio gratis</h4>

                    <div id="camion">
                        <i class="fa-solid fa-truck-fast"></i>
                    </div>

                </section>

            </section>

        </main>

        <div class="final">
            <section class="seccion-acerca-producto">

                <h3>Acerca del Producto</h3>

                <p><%= producto.descripcion %></p>
            </section>
        </div>

        <%- include('./partials/footer') %>

        <%- include('./partials/wsp') %>

</body>

</html>